body {
    margin: 0;
    font-family: 'Quando', serif;
    /* font-family: 'Arial', sans-serif; /* Set a default font for the page */
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

.container {
    max-width: 1200px; /* Maximum width of the container */
    width: 100%; /* Make the container width 100% */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding around the content */
    box-sizing: border-box;
    background-color: #000; /* Black background for the container if needed */
    color: #fff; /* White text for content within the container */
}

.container * {
    font-family: 'Quando', serif;
    /* font-family: 'Open Sans', sans-serif; /* Specific font for everything inside the container */
}

@media (max-width: 768px) {
    .container {
        padding: 10px; /* Smaller padding for smaller devices */
    }
}

.navigation {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
}

.navigation a {
    color: white;
    padding: 80px;
    text-decoration: none;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; /* Ensures the children are laid out in a row */
}

.image-container {
    flex-basis: 30%; /* Takes up 40% of the intro section */
    padding: 10px;
}

.image-container img {
    width: 100%; /* Ensures the image scales with the container */
    height: auto; /* Maintain aspect ratio */
    min-width: 0; /* Prevents the image from forcing a larger width */
}


.text-container {
    flex-basis: 70%; /* Takes up 60% of the intro section */
    padding: 20px;
    text-align: justify;
}

.general-content {
    padding: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .intro-section {
        flex-direction: column;
    }

    .image-container, .text-container {
        flex-basis: 100%; /* Stack on top of each other on smaller screens */
    }
}