body {
    margin: 0;
    font-family: 'Quando', serif;
    /* font-family: 'Arial', sans-serif; /* Set a default font for the page */
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

.container {
    max-width: 1200px; /* Maximum width of the container */
    width: 100%; /* Make the container width 100% */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding around the content */
    box-sizing: border-box;
    background-color: #000; /* Black background for the container if needed */
    color: #fff; /* White text for content within the container */
}

.container * {
    font-family: 'Quando', serif;
    /* font-family: 'Open Sans', sans-serif; /* Specific font for everything inside the container */
}

.background-image {
    background-image: url('../../assets/images/dance_redhaze.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Adjust width as needed */
    text-align: left;
}

@media (max-width: 768px) {
    .container {
        padding: 10px; /* Smaller padding for smaller devices */
    }
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
}
footer a {
    color: #007bff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}